<div class="content-container">
    <div class="column-container">
        <p>
            <a class="footer-links" (click)="onClickHome()">Home</a>
        </p>
        <p>
            <a class="footer-links" (click)="onClickOurGoals()">Our goals</a>        
        </p>
    </div>
    <div class="column-container">
        <p>
            <a class="footer-links" (click)="onClickContacts()">Contacts</a>        
        </p>
        <p>
            <a class="footer-links" (click)="onClickWorkWithUs()">Work with us</a>        
        </p>
    </div>
    <div class="column-container">
        <p>
            <a class="footer-links" (click)="onClickSupport()">Support</a>        
        </p>
        <p>
            <a class="footer-links" (click)="onClickAbout()">About</a>
        </p>
    </div>
</div>