<div class="content-container">
    <div class="column-container">
        <p>
            <a href="/home" class="footer-links">Home</a>
        </p>
        <p>
            <a href="/home" class="footer-links">Our goals</a>        
        </p>
        <p>
            <a href="/about" class="footer-links">About</a>
        </p>
    </div>
    <div class="column-container">
        <p>
            <a href="/home" class="footer-links">Contacts</a>        
        </p>
        <p>
            <a href="/home" class="footer-links">Work with us</a>        
        </p>
    </div>
    <div class="column-container">
        <p>
            <a href="/home" class="footer-links">Support</a>        
        </p>
    </div>
</div>