.header-container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.header-block{
    display: block;
    min-width: 33vw;
    background-color: rgb(221, 200, 240);
}

.header-font{
    font-family: 'Times New Roman';
    font-size: 32px;
    font-style: italic;
    color: rgb(128, 83, 158);
    text-shadow: rgb(80, 123, 131) 3px 0 10px;
}

.otherinfo-font{
    font-family: Cambria, Cochin, Georgia;
    font-size: 22px;
    color: rgb(240, 251, 255);
}