<div class="navbar-container">
    <app-navbutton (btnClick)="onHomeClick()"
    text="Home" [isDisabled]="false"></app-navbutton>    
    <app-navbutton (btnClick)="onClick()"
    text="Some link" [isDisabled]="false"></app-navbutton>
    <app-navbutton (btnClick)="onClick()"
    text="Some link" [isDisabled]="false"></app-navbutton>
    <app-navbutton (btnClick)="onClick()"
    text="Some link" [isDisabled]="false"></app-navbutton>
    <app-navbutton (btnClick)="onClick()"
    text="Some link" [isDisabled]="false"></app-navbutton>
    <app-navbutton (btnClick)="onClickAbout()"
    text="about" [isDisabled]="false"></app-navbutton>
    <app-search></app-search>
</div>