.login-form{
    width: 200px;
    height: 140px;
    padding: 20px;
    background-color: rgba(184, 172, 172, 0.39);
    border-radius: 10px;
    box-shadow: 0 10px 16px #accccc;
}

.login-button{
    position: absolute;
    margin: 8px;
    width: 80px;
    height: 40px;
    font-size: 18px;
}

.login-button.error{
    right: 2px;
}