.footer-container{
    display: flex;
    justify-content: center;
    background-color: rgb(236, 227, 214);
}

.footer-font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-style: italic;
    color: rgb(134, 115, 90);
}