<div class="login-container">
    <div class="login-form">
        <div class="form-group">
            <label for="userName">Username</label>
            <input type="text" name="userName" [(ngModel)]="userName">
        </div>
        <div class="form-group">
            <label for="passWord">Password</label>        
            <input type="password" name="passWord" [(ngModel)]="passWord">
        </div>
        <div>
            <div class="login-button-error">{{ errorMsg }}</div>
            <button class="login-button" (click)="onLoginClick()">Login</button>
        </div>
    </div>
</div>