<div>
    <app-header></app-header>
</div>
<div>
    <app-navbar></app-navbar>
</div>
<div class="content-container">  
    <div class="text-container"></div>
    <div class="text-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi atque laudantium iste blanditiis? Eius inventore nisi ex dolore aliquam expedita, aliquid molestiae fugit, animi iure odit repellat reiciendis!</p>    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia accusamus neque amet totam temporibus itaque, voluptatibus nulla, ut culpa placeat illo consectetur rerum! Beatae dicta molestias numquam sunt modi, eius ea amet.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat minima adipisci? Voluptatem quam nemo libero perferendis hic, aut deserunt voluptatibus unde similique beatae illo velit vitae quos corrupti veritatis, non error deleniti, laudantium sequi alias. Odit aperiam dicta fugit, repellat impedit ut assumenda vero eius similique, ipsa quisquam reprehenderit maiores. Molestiae voluptatibus, eligendi unde amet quas molestias sed, pariatur, reprehenderit saepe deleniti neque!</p>
    </div>  
    <div class="text-container"></div>
</div>
<div>
    <app-footer></app-footer>
</div>